@charset "UTF-8";

.border {
   	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

.outer {
	margin-left:auto; 
   	margin-right:auto;
   /*	min-width:600px;*/
   
}

.td,.th {
	border: 1px solid;
	font-family: 'arial';
	font-size: 12px;
	padding: 7px;
	
}

.line {
	white-space: nowrap; 
	overflow: hidden; 


}

.two-columns-left {
	float:left;
	display: inline;
	margin-top:4px;
	margin-right:5px;
	width:110px;
}

.two-columns-right {
	float:right;
	display: inline;
	margin-left:5px;
	width:110px;
}

.three-columns-left {
	float:left;
	display: inline;
	margin-top:4px;
	margin-right:5px;
	width:110px;
}

.three-columns-right {
	float:right;
	display: inline;
	margin-left:5px;
	width:200px;
}

.three-columns-middle {
	margin-left: auto; 
	margin-right: auto;
	display: inline;
	width:250px;

}




label, input {
 	font-family: 'arial';
	font-size: 14px;  
	display: inline; 
}



.tableheader {
	background-color: #99CCFF;
}

.a {
	font-family: 'arial';
	font-size: 12px;
}
/*
 table {
   margin-left:auto; 
   margin-right:auto;

 }*/
 
/*
 input[type='datetime-local'] {
 	width:70%;
 	display:block;
 }
*/